body {
  font-family: Calibri, Arial;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  /* Header Font */
  font-family: "Roboto", "Segoe UI", Arial, sans-serif;
  font-size: 18px;
  font-weight: 310;
  letter-spacing: 0.5px;	

  /* Header Background */
  background: #FFFFFF; /* Green-#039E32; */
  color: white;
  padding:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /*Header Position*/
  position: fixed; /* makes header stay in place */
  top: 0; /* sticks to the very top */
  left: 0;
  width: 100%; /* full width across the page */
  z-index: 1000; /* ensures it stays above other content */
  
  /* Shadow Effect */
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}
nav {
  margin-right: 250px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  color: black;
  text-decoration: none;
}
/* Animation *FloatIN* Effect per Section*/
@keyframes floatIn {
	from { 
		opacity: 0; 
		transform: translateY(30px); 
		} 
	to { 
	opacity: 1;
	transform:
	translateY(0); 
	}
}

.animate { 
	opacity: 0; /* hidden by default */ 
	}

.animate.visible {
	animation: floatIn 1s ease-out forwards; 
	}


/* ISLA BANK Logo Top-left*/
.logo img {
  height: 85px;   /* adjust to fit your header */
  width: auto;    /* keeps proportions */
  display: block; /* removes inline spacing */
  margin:0; /* ensures no extra margin */
  padding-bottom: 0; /* removes padding */ 
  transition: transform 0.3s ease; /* smooth animation */
  }
  
 .logo img:Hover {
	 transform: scale(1.1); /* zoom in (enlarge 110%) */
 } 

.logo {
  margin-left: 250px;
  margin-bottom:0;
  padding: 0;
  line-height: 0;         /* prevents vertical spacing */
}


.logo a {
  text-decoration: none;
}

/**============================= PAGE 0.1: START - THIS IS THE DEFAULT PAGE =============================**/
/** Dropdown Selection on HEADER **/
/* Dropdown container */
.dropdown {
  position: relative;
  font-size: 20px;
}

/* Hide dropdown content by default */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #13570E; /* same as header background */
  min-width: 160px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;

/*Start hidden*/
opacity: 0;
transform: translateY(-10px);
pointer-events: none;

/*Transition Effect*/
transition: opacity 0.3s ease, transform 0.3s ease;
}


/* Dropdown links */
.dropdown-content li a {
  color: white;
  padding: 12px 18px;
  text-decoration: none;
  display: block;
}

/* Hover effect */
.dropdown-content li a:hover {
  background-color: #07D64A; /* Blue-#003060; #07D64A;*/
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

body { 
padding-top: 100px; /* adjust to match your header height */
}

/** Hero **/
.hero-slider {
  position: relative;
  text-align: center;
  overflow: hidden;
  object-fit:cover;
  height: 760px;
  min-height: 300px; /*Incase no image, it will adjust only to 300*/
   box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  
}

.hero-slider .slides img {
  position: center;
  width: 100%;
  height: 100%; /* Adjust the image size on slide */
  object-fit: cover;
  display: none;       /* hide all images */
}

.hero-slider .slides img.active {
  display: block;      /* show only the active one */
  
}

.hero-slider button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform:translateY(-50%);
  padding: 15px 15px; /* button size */
  background: #004080;
  opacity: 0.3; /* 30% visible */
  color: White;
  border: none;
  cursor: pointer;
  z-index: 10; /* ensures button stays clickable above images */
  border-radius: 15px;
}

.hero {
  background: #F0F0F0; /* Body Grayish White-#F0F0F0; */
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 2.5em;
}

.cta {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #004080;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}



/* Custom Section */

.custom h1 {
	  /* Header Font */
  font-family: "Roboto", "Segoe UI", Arial, sans-serif;
  font-size: 45px;
  letter-spacing: 0.5px;
  margin-left: 260px;
  margin-bottom: 0;
  margin-top: 80px;
  color: #4B6939;
}
.customp p {
	  /* p Font */
  font-family: "Roboto", "Segoe UI", Arial, sans-serif;
  font-size: 25px;
  font-weight: 0;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 0;
}

.customp1 p {
	  /* Header Font */
  font-family: "Roboto", "Segoe UI", Arial, sans-serif;
  font-size: 17px;
  font-weight: 0;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 0;
  color:grey;
}

.two-columns {
  display: flex;
  gap: 40px;          /* space between columns */
  padding: 20px;
  text-align: justify;
  margin-left: 250px;
  margin-right: 250px;
  padding: 0;
}

.column {
  flex: 1;            /* each column takes equal width */
  padding: 20px;
}



/* Whats New Section */
.custom1 h1{
	  /* Header Font */
  font-family: "Roboto", "Segoe UI", Arial, sans-serif;
  font-size: 45px;
  color: #4B6939;
  letter-spacing: 0.5px;
  margin-left: 260px;
  margin-bottom: 0;
  margin-top: 100px;
}
.whats-new {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 10px;        /* space between cards */
  justify-content: center;
  margin-left: 230px; /* Card Indention ito */
  margin-right: 200px;
  padding: 50px;
}

.column .card {
  background: #fff;
  border-radius: 15px;    /* rounded edges */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;       /* keeps image inside rounded corners */
  /*flex: 1 1 calc(25% - 30px); /* 4 columns, minus gap */
  width: 300px;           /* card size */
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px); /* subtle hover lift */
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;      /* crops image neatly */
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 0.95rem;
  color: #555;
}

.card-contents .btn {
  background: #004080;    /* banking tech blue */
  color: #fff;
}

.card-content .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 30px;
  text-decoration: none;
  background: green;    /* banking tech blue */
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.card-content .btn:hover {
  background: rgba(0,64,128,0.8); /* semi-transparent hover */
}

/* See More Button */
.see-more {
  text-align: right;     /* center the button */
  margin-top: 20px;       /* spacing above */
}

.see-more .btn {
  display: inline-block;
  padding: 10px 20px;
  background: #004080;    /* banking tech blue */
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
  
}

.see-more .btn:hover {
  background: rgba(0,64,128,0.8); /* semi-transparent hover */
}
/**============================= PAGE 0.1: END - THIS IS THE DEFAULT PAGE =============================**/




/**============================= PAGE 0.2: START - LEADERSHIP PAGE =============================**/

.ldrs_custom {
	  /* Header Font */
  font-family: "Roboto", "Segoe UI", "Arial, sans-serif";
  font-size: 15px;
  font-weight: 310;
  letter-spacing: 0.5px;
  color: #4B6939;
  padding: 100px;
}

.leadership-hero {
  background: white; /* Body Grayish White-#F0F0F0; */
  text-align: center;
  padding: 50px 20px;
}

.leadership-hero p{
  font-family: "Roboto", "Segoe UI", "Arial, sans-serif";
  font-size: 25px;
}


/**============================= PAGE 0.2: END - LEADERSHIP PAGE =============================**/

/******================ FOOTER SECTION ================******/

/*--- Contact Us Section*/

.contact_hdr{
  background: #F0F0F0; /* Body Grayish White-#F0F0F0; */
  text-align: center;
  padding: 1px;
 
}

.contact_hdr h1 {
  margin-top: 70px;
  font-size: 50px;
}

.contact_hdr p{
  font-size: 20px;
  color: gray;
}

.contact_mdl {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #F0F0F0; /* Body Grayish White-#F0F0F0; */
  text-align: center;

}

.contact_col1 {
	flex: 1;	
	padding: 30px;
	text-align: center;
	margin-top: 60px;
}

.contact_mdl p {
	font-family: "Roboto", "Segoe UI", "Arial, sans-serif";
	font-size: 18px;
	color: gray;
}

.contact-icon {
  font-size: 40px;
  color: #4B6939; /* Bank brand color */
  margin-bottom: 10px;
  display: block;
}



/*--Footer Section--*/
footer {
  font-family: "Roboto", "Segoe UI", "Arial, sans-serif";
  background: #333; /* dark background */
  color: white;
}

footer .quick-links{
	text-align: left;
	margin-top: 50px;


}

footer .quick-links h4 {
  margin-left: 100px;
  font-family: "Roboto", "Segoe UI", "Arial, sans-serif";
  font-size: 40px;
  letter-spacing: 0.5px;
  color: green;
}


footer p {
  font-size: 18px;
  color: #CCCCCC;
  letter-spacing: 0.5px;
}

footer a:hover {
  color: #07D64A; /* green hover effect */
}

footer .list-unstyled li a {
	font-family: "Roboto", "Segoe UI", "Arial, sans-serif";
	line-height: 2.5; /* increases spacing between lines */
	letter-spacing: 0.5px;
	font-size: 21px;
	margin-left: 100px;
	color: #07D64A;
}

.list-unstyled{
	color: #008000;
}

footer img {
	margin-top: 50px;
	margin-right: 30px;
}

footer .testimage img{
	margin-top: 5px;
	margin-right: 130px;
}

footer .testimage h4 {
  margin-top: 50px;
  margin-right: 130px;
  font-family: "Roboto", "Segoe UI", "Arial, sans-serif";
  font-size: 40px;
  letter-spacing: 0.5px;
  color: white;
}
footer .testimage p {
  margin-right: 130px;
  font-family: "Roboto", "Segoe UI", "Arial, sans-serif";
  font-size: 20px;
  letter-spacing: 0.5px;
  color: white;
}

html {
  scroll-behavior: smooth;
}

